$font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

//colors
$white: #fff;
$black: #000;
$secondary: rgb(95, 63, 123);
$primary: rgb(146, 101, 184);
$off-white: #f2f4f5;
$primary-radius: 20px;
$secondary-radius: 60px;

html,
body {
  font-family: $font;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: rgb(62, 51, 80);
  background: linear-gradient(
    0deg,
    rgba(49, 40, 64, 1) 0%,
    rgba(71, 48, 108, 1) 100%
  );
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}

.socialbar {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-flow: wrap center;
  width: 40%;
  @media (max-width: 700px) {
    width: 90%;
  }
  .icon {
    text-align: center;
    flex: 1;
    background-color: transparent;
    transition: all 0.2s;
    margin: 0 5px;

    &:hover {
      transform: scale(1.3);
      z-index: 10;
      margin-top: 28px;
      bottom: 10px;
    }
    .social-svg-background {
      fill: white !important;
    }
  }
}
.wrapper {
  width: 80%;
  align-items: center;
  flex: 2;
  display: flex;
  justify-content: center;
  @media (max-width: 700px) {
    width: 100%;
  }
  #logoWrapper {
    animation: fade-in-top 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    border-radius: 50%;
    text-align: center;
    svg {
      @media (max-width: 700px) {
        width: 70%;
      }
    }

    path:nth-child(1) {
      stroke-dasharray: 1201px;
      stroke-dashoffset: 1201px;
      animation: fill-purple-dark 2s ease-in-out forwards 0.5s;
    }
    path:nth-child(3) {
      stroke-dasharray: 2921px;
      stroke-dashoffset: -2921px;
      animation: fill-purple-light 2s ease-in-out forwards 0.5s;
    }
    path:nth-child(5) {
      stroke-dasharray: 1968px;
      stroke-dashoffset: 1968px;
      animation: fill-white 2.5s ease-in-out forwards 1s;
    }
    #white-stroke {
      stroke-dasharray: 1968px;
      stroke-dashoffset: -1968px;
      animation: running-stroke 1s ease-in-out forwards;
    }
    #light-stroke {
      stroke-dasharray: 2921px;
      stroke-dashoffset: -2921px;
      animation: running-stroke 0.5s ease-in-out forwards 0.1;
    }
    #dark-stroke {
      stroke-dasharray: 1201px;
      stroke-dashoffset: 1201px;
      animation: running-stroke 0.5s ease-in-out forwards 0.1;
    }
  }
}

@keyframes fill-white {
  0% {
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;

    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;

    fill: white;
  }
}
@keyframes running-stroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill-purple-light {
  0% {
    fill: transparent;
  }
  80% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    fill: #9265b8;
    stroke-dashoffset: 0;
  }
}
@keyframes fill-purple-dark {
  0% {
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #5f3f7b;
  }
}
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: scaleX(2);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  65% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: transparent;
    opacity: 1;
    box-shadow: none;
  }

  75% {
    box-shadow: 0px 0px 100px 0px rgba(185, 86, 241, 0.75),
      inset 0px 0px 60px 3px rgba(185, 86, 241, 0.75);
    border: none;
  }
  85% {
    box-shadow: 0px 0px 10px 0px rgba(255, 129, 255, 0.75),
      inset 0px 0px 60px 3px rgba(255, 129, 255, 0.75);
  }
  100% {
    box-shadow: none;
    transform: scale(1);
  }
}
