$font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
//colors
$white: #fff;
$black: #000;
$secondary: rgb(95, 63, 123);
$primary: rgb(146, 101, 184);
$off-white: #f2f4f5;
$primary-radius: 20px;
$secondary-radius: 60px;

html,
body {
  font-family: $font;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: rgb(62, 51, 80);
  background: linear-gradient(
    0deg,
    rgba(49, 40, 64, 1) 0%,
    rgba(71, 48, 108, 1) 100%
  );
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}

.socialbar {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%;

  @media (max-width: 700px) {
    width: 90%;
    flex: 2;
  }

  .icon {
    text-align: center;
    flex: 1;
    background-color: transparent;
    transition: all 0.2s;
    margin: 0 5px;

    @media (max-width: 700px) {
      flex: 1 0 25%;
    }

    .social-icon {
      @media (max-width: 700px) {
        width: 70px !important;
        height: 70px !important;
      }
    }

    &:hover {
      transform: scale(1.1);
      z-index: 15px;
      margin-top: 0px;
      bottom: 10px;
      @media (max-width: 700px) {
        margin-top: 0px;
      }
    }
    .social-svg-background {
      fill: white !important;
    }
  }
}
.wrapper {
  width: 80%;
  align-items: center;
  flex: 2;
  display: flex;
  justify-content: center;
  @media (max-width: 700px) {
    flex: 3;
    width: 100%;
  }
  @keyframes appear {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }

  .name-wrapper {
    cursor: default;
    color: $white;
    white-space: nowrap;
    margin: 20px;
    animation: appear 2s ease-in-out both 1.5s;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 5px;

    .hi {
      animation: fade-down 1s ease-in-out both 2.5s;
    }
    .name {
      span {
        text-transform: uppercase;
        font-weight: 700;
        color: rgb(197, 102, 226);
      }
      animation: fade 1s ease-in-out both 2.5s;
    }
    .prof {
      animation: fade-up 1s ease-in-out both 2.5s;
    }
  }

  #logoWrapper {
    animation: fade-in-top 3.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    border-radius: 50%;
    text-align: center;
    svg {
      @media (max-width: 700px) {
        width: 70%;
        height: 230px !important;
        width: 230px !important;
      }
    }

    path:nth-child(1) {
      stroke-dasharray: 1201px;
      stroke-dashoffset: 1201px;
      animation: fill-purple-dark 2s ease-in-out forwards 0.5s;
    }
    path:nth-child(3) {
      stroke-dasharray: 2921px;
      stroke-dashoffset: -2921px;
      animation: fill-purple-light 2s ease-in-out forwards 0.5s;
    }
    path:nth-child(5) {
      stroke-dasharray: 1968px;
      stroke-dashoffset: 1968px;
      animation: fill-white 2.5s ease-in-out forwards 1s;
    }
    #white-stroke {
      stroke-dasharray: 1968px;
      stroke-dashoffset: -1968px;
      animation: running-stroke 1s ease-in-out forwards;
    }
    #light-stroke {
      stroke-dasharray: 2921px;
      stroke-dashoffset: -2921px;
      animation: running-stroke 0.5s ease-in-out forwards 0.1;
    }
    #dark-stroke {
      stroke-dasharray: 1201px;
      stroke-dashoffset: 1201px;
      animation: running-stroke 0.5s ease-in-out forwards 0.1;
    }
  }
}

@keyframes fill-white {
  0% {
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;

    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;

    fill: white;
  }
}
@keyframes running-stroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill-purple-light {
  0% {
    fill: transparent;
  }
  80% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    fill: #9265b8;
    stroke-dashoffset: 0;
  }
}
@keyframes fill-purple-dark {
  0% {
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #5f3f7b;
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  65% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: transparent;
    opacity: 1;
    box-shadow: none;
  }

  75% {
    box-shadow: 0px 0px 100px 0px rgba(185, 86, 241, 0.75),
      inset 0px 0px 60px 3px rgba(185, 86, 241, 0.75);
    border: none;
  }
  85% {
    box-shadow: 0px 0px 10px 0px rgba(255, 129, 255, 0.75),
      inset 0px 0px 60px 3px rgba(255, 129, 255, 0.75);
  }
  100% {
    box-shadow: none;
    transform: scale(1);
  }
}
@keyframes vibrate-3 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
